.header{
    padding: 10px;
    align-items: center;
}
.menu *{
    font-size: 20px;
}
.logo, .menu, .submenuAuthenticated{
    padding: 0;
}
.header, .logo, .menu > *{
    justify-content: center;
}
.logo{
    margin-top: 10px;
    margin-bottom: 15px;   
}
.logo > *{
    width: 100%;
    max-width: 180px;
}
.submenuAuthenticated{
    padding: 0;
    justify-content: center;   
}
.linkLogout{
    margin-left: 5px;
    text-decoration: underline;
}