.bag{
    padding: 0;
}
.bag > *{
    justify-content: center;
}
.image{
    padding: 10px 0;
}
.image > *{
    width: 100%;
}
.title{
    font-size: 25px;
    color: #070707;
    font-family: arial;
    text-align: center;
}
.total{
    font-size: 20px;
    color: var(--color-yellow);
    font-weight:bold;
    font-family:calibri;
}
.descount{
    padding: 0;
}
.installments{
    font-size: 16px;
    font-family:calibri;
    color: #5e655efc;
}
.footer{
    padding: 10px 0;
}
.button{
    font-size: 14px;
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #f4f4f4 !important;
    color: #444 !important;
    border: 1px solid #ddd !important;
}
.button:hover{
    background-color: #ddd !important;
    border: 1px solid #999 !important;
}