.menu{
    padding: 0;
}

.header{
    padding: 10px;
    padding-bottom: 0;
    font-size: 28px;
    font-weight: bold;
    font-family: NEOTERIC;
}
.body{
    font-size: 19px;
    padding: 10px;
    padding-top: 0;
}
.divLinks, .divLinks > *, .links{
    width: 100% !important;
    padding: 0;
    display: flex;
}

.links{
    padding: 5px;
    padding-left: 15px;
    color : black;
    font-family: calibri;
    border-left: 2px solid transparent;
}
.links:hover, .activeLinks{
    color : var(--color-yellow) !important;
    border-color: var(--color-yellow) !important;
}