.root{
    padding: 0 15px;
    text-transform: uppercase;
    font-family: NEOTERIC;
}
.link{
    color: var(--color-white);
}
.activeLink, .link:hover{
    outline: 0;
    text-decoration: none;
    color: var(--color-secondary);
}