.home{
    max-width: 1000px;
    padding: 30px 0 20px;
    margin: 0 auto;
}
.footer{
    padding: 30px 5px 0;
}
.footer > *{
    justify-content: center;
}
.othersModels, .clickHere{
    padding: 0;
    font-size: 23px;
    font-family: NEOTERIC;
    text-transform: uppercase;
}
.othersModels{
    color: black;
}
.clickHere{
    color: red;
    font-weight: bold;
}