.root{
    padding: 0 25px;
    text-transform: uppercase;
    font-family: AnotherFlight;
}
.link{
    color: var(--color-black);
}
.activeLink, .link:hover{
    outline: 0;
    text-decoration: none;
    color: var(--color-yellow);
    font-weight: bold;
}