.menu{
    padding: 0;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #bbb;
    background: #ebebeb;
}

.header{
    padding: 10px;
    padding-bottom: 0;
    font-size: 28px;
    font-weight: bold;
    font-family: NEOTERIC;
}
.body{
    font-size: 19px;
    padding: 10px;
    padding-top: 0;
}
.divLinks, .divLinks > *, .links{
    width: 100% !important;
    padding: 0;
    display: flex;
}

.links{
    padding: 5px !important;
    color : black;
    font-family: calibri;
    border-right: 2px solid transparent;
}
.links:hover, .activeLinks{
    color : black !important;
    border-color: #0009 !important;
}