.social_network{
    padding: 0;
}

.social_network *{
    width: 100%;
    justify-content: center;
}
.image{
    padding: 10px 0;
}
.image > *{
    box-shadow: 0 1px 3px #999;
}
.image > *:hover{
    box-shadow: 0 1px 5px #222;
}
.button{
    padding: 0;
}
